.file-list, .file-list ul {
    list-style-type: none;
    font-size: 10pt;
    /*1em;*/
    line-height: 1.8em;
    margin-left: 0px;
    /*20px;*/
    padding-left: 15px;
    /*18px;*/
    border-left: 1px dotted #aaa;
}

.file-list li {
    position: relative;
    padding-left: 25px;
}

.file-list li a {
    text-decoration: none;
    color: #444;
}

.file-list li a:before {
    display: block;
    content: " ";
    width: 3px;
    /*10px;*/
    height: 1px;
    position: absolute;
    border-bottom: 1px dotted #aaa;
    top: .6em;
    left: -14px;
}

.file-list li:before {
    list-style-type: none;
    font-family: FontAwesome;
    display: block;
    content: '\f0f6';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    font-size: 11pt;
    /*1.3em;*/
    color: #555;
}

.selected {
    font-weight: bold;
}

.file-list .folder-root {
    list-style-type: none;
}

.file-list .folder-root a {
    text-decoration: none;
}

.file-list .folder-root:before {
    color: #FFD04E;
    content: "\f07b";
}

.file-list .folder-root.open:before {
    content: "\f07c";
}

li.folder-root ul {
    transition: all .3s ease-in-out;
    overflow: hidden;
}

li.folder-root.closed>ul {
    opacity: 0;
    max-height: 0px;
}

li.folder-root.open>ul {
    opacity: 1;
    display: block;
    max-height: 1000px;
}

/***************** div *********************/

div.closed {
    opacity: 0;
    max-height: 0px;
}

div.opened {
    opacity: 1;
    display: block;
    max-height: 1000px;
}

div.closed, div.opened {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(112, 112, 112, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(112, 112, 112, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(112, 112, 112, 0.75);
    padding: 10px;
    margin-left: 50px;
    min-width: 500px;
    min-height: 500px;
    background-color: rgb(253, 253, 253);
}