/* <![CDATA[ */

.SI-FILES-STYLIZED label.cabinet {
    width: 60px;
    height: 63px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    /* background-image: data-uri('image/svg+xml;charset=UTF-8', 'browse.svg'); */
    background: url(replay.svg) no-repeat;
    background-size: 55px 59px;
    background-position: 50% 50%;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.SI-FILES-STYLIZED label.cabinet {
    width: 60px;
    height: 63px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    /* background-image: data-uri('image/svg+xml;charset=UTF-8', 'browse.svg'); */
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.SI-FILES-STYLIZED label#loadButton {
    background: url(browse.svg) no-repeat;
    background-size: 35px 33px;
    background-position: 50% 50%;
}

.SI-FILES-STYLIZED label #replay {
    background: url(replay.svg) no-repeat;
    background-size: 35px 33px;
    background-position: 50% 50%;
}

.SI-FILES-STYLIZED label.cabinet:hover {
    position: relative;
    top: 1px;
}

.SI-FILES-STYLIZED label.cabinet input.file {
    position: relative;
    height: 110%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}


/* ]]> */