table {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Verdana;
    font-size: 12px;
    /* border-collapse: collapse; */
    /* width: 600px; */
    border: 1px solid #333;
}

td {
    padding: 3px;
    text-align: left;
    margin: 0;
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(248, 248, 248);
}

th, .colname {
    padding: 3px;
    text-align: left;
    margin: 0;
    border-left: 1px solid rgb(134, 134, 134);
    border-right: 1px solid rgb(170, 170, 170);
    text-align: center;
}

tbody tr:nth-child(2n) {
    background-color: #eee;
}

th, .colname {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
}

caption {
    font-weight: bold
}

input[type="number"] {
    width: 50px;
}

.contents {
    width: 100%;
    margin: 0 auto;
}

.block, .iconBlock {
    display: inline-block;
    vertical-align: top;
}

#first.block {
    max-width: 20%;
}

#second.block {
    width: 77%;
}
.clear {
    clear: both;
}

/******************************* ICONES *******************************/
.process {
    width: 60px;
    height: 65px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    /* background-image: data-uri('image/svg+xml;charset=UTF-8', 'browse.svg'); */
    background: url(process.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
}

.process:hover {
    position: relative;
    top: 1px;
}

.icones {
    width: 60px;
    height: 65px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    /* background-image: data-uri('image/svg+xml;charset=UTF-8', 'browse.svg'); */

    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
}

.icones:hover {
    position: relative;
    top: 1px;
}

#snippetIcon.icones {
    background: url(snippetIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}
#caseActivIcon.icones {
    background: url(caseActivIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}
#fieldPosIcon.icones {
    background: url(fieldPosIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}
#editProjIcon.icones {
    background: url(editProjIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}
#trashIcon.icones {
    background: url(trashIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}
#processdiscoIcon.icones {
    background: url(processdiscoIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}
#xorSplitIcon.icones {
    background: url(xorSplitIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}

#xorJoinIcon.icones {
    background: url(xorJoinIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}

#footprintIcon.icones {
    background: url(footprintIcon.svg) no-repeat;
    background-size: 55px 57px;
    background-position: 50% 50%;
}

/******************************* Header *******************************/
/* https://tympanus.net/codrops/2012/11/02/heading-set-styling-with-css/ */

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

/* Won't be used here */

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}
h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15%;
	color: #355681;
	box-shadow:
		inset 0 0 0 1px rgba(53,86,129, 0.4),
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 0 10px 0 10px;
	background: #fff url(../images/bartoszkosowski.jpg) no-repeat center left;
}

h2 {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Muli', sans-serif;
}

h3 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 22px;
	line-height: 40px;
	color: #355681;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
}

h4 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	font-size: 18px;
	line-height: 20px;
	color: #788699;
	font-family: 'Muli', sans-serif;
}

/******************************* PROJECT *******************************/

/* http://css.mammouthland.net/menu-horizontal-en-css.php */

/* Project tittle */

ul#projectTitles {
    padding: 0;
    margin: 20px;
    list-style-type: none;
}

ul#projectTitles li {
    margin-left: 2px;
    float: left;
    /*pour IE*/
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    padding: 4px;
}

ul#projectTitles li a {
    display: block;
    float: left;
    color: #aaa;
    text-decoration: none;
    text-align: center;
}

ul#projectTitles li.actif {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #eff3f7;
    border: 1px solid #bfc0c0;
}

ul#projectTitles li.actif a {
    color: black;
}

ul#projectTitles li a:hover {
    text-decoration: underline;
}

/* Project block */

.projects, .project {
    width: 100%;
    border: none;
}

.spanVisible {
    visibility: visible;
}

.spanHidden {
    visibility: hidden;
}

#networkTrafficCanvas {
    width: 1100px;
    height: 600px;
    border: 1px solid lightgray;
}